@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
	background-color: #000;
	background-image: url("../images/bg.jpg");
	background-size: cover;
  background-position: top center;
  font-family: 'Montserrat', sans-serif;
}
a.but {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 175px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 5px 20px;
  border: 3px solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 600;
  color: #808080;
  background: #F5F5F5;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a.but:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: #F5F5F5;
  transform: translateY(-7px);
}
a.dopbut {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 45px;
  border-radius: 45px;
  margin: 5px 20px;
  border: 3px solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 600;
  color: #808080;
  background: #F5F5F5;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a.dopbut:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: #F5F5F5;
  transform: translateY(-7px);
}
hr.major {
		margin: 3em 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; 
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}
li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}
.inthis{
  text-align:center;
  width:100%;
}
  .block{
  margin:10pt;
  width:120px;
  height:100px;
  display:inline-block;
  vertical-align: middle;
  padding:10pt;
}
